<div class="col s12 m12 l9 center">
			<h1 class ="center-align" style="border: none; font-size:26px; font-weight:500; color:#333;""> ยก Hola <%= session.User.name %> !</h1>
			<h1 class ="center-align" style="border: none; font-size:20px; font-weight:500; color:#c5c5c5;">ยก Aun no has creado una estructura para tus proyectos! !</h1>
			<div class="center-align" ><a class="center-align waves-effect waves-light btn" href="/structure/new">Crear nueva estructura</a>
</div>
