<div class="row">
	<div class="col s12 purple lighten-2" style=" height: 260px;">
			<div class="container">
			<br>
			<h3 style="color: white; font-weight: 300;"> Calendario </h3>
			<p style="color: white; font-weight: 200; font-size: 20px;">Agrega eventos, proyectos, y reuniones a tu calendario.</p>	
			<button class="waves-effect waves-light btn datepicker">Crear nuevo evento</button>


		</div>
	</div>
</div>

<div class="container">
<br>