<div style=" margin-left: 25px;">
	<h2 style="font-size:18px;"> Mis notificaciones </h2>
	<a href="/notification/sendingNotification"> Enviadas </a><br>
	<a href="/notification/recivingNotification"> Recibidas </a>
</div>