<div style=" margin-left: 25px;">
	<h2 style="font-size:18px;"> Solicitudes pendientes </h2>

	<% _.each(notifications, function(n) { %>

            <p style="font-weight: 200;"> Solicitud para ser profesor al usuario <%= n.recivingUser %></p>
          
			
	<% }) %>

</div>