<div class="row">
	<div class="col s12 amber lighten-2" style=" height: 260px;">
			<div class="container">
			<br>
			<h3 style="color: blue-grey; font-weight: 300;"> Profesores </h3>
			<p style="color: blue-grey; font-weight: 200; font-size: 20px;"> Administra tu lista de profesores</p>	
			<a class="amber darken-2 waves-effect waves-light btn" href="/profesor/new">Invitar nuevo profesor</a>
		</div>
	</div>
</div>

<div class="container">
<br><br><br>
 <nav>
    <div class="nav-wrapper white">
      <ul class="right">
        <li>
			<nav>
				<form>
					<div class="input-field white">
						<input id="search" type="search" ng-model="searchText" required>
						<label class="label-icon" for="search"><i style="color: #E57373;" class="material-icons">search</i></label>
						<i class="material-icons">close</i>
					</div>
				</form>
			</nav>
        </li>
        <li><a href="badges.html"><i style="color: #E57373;" class="material-icons">view_module</i></a></li>
        <li><a href="collapsible.html"><i style="color: #E57373;" class="material-icons">refresh</i></a></li>
        <li><a href="mobile.html"><i style="color: #E57373;" class="material-icons">more_vert</i></a></li>
      </ul>
    </div>
  </nav>
  <br>





 <ul class="collection" style="font-family: 'Roboto', sans-serif;">
<% _.each(profesor, function(prf) { %>

    <li class="collection-item avatar" style="min-height: 160px;">
      <img src="images/1.jpg" alt="" class="circle">
            <a class="title" style="color: black; font-size: 20px;">


			<%=prf.user_id.name%>


            </a>
          
			<div class="right secondary-content">
				<!-- Dropdown Trigger -->
				<a class='dropdown-button btn' href='#' data-activates='<%= prf.id %>'>Modificar</a>

				<!-- Dropdown Structure -->
				<ul id='<%= prf.id %>' class='dropdown-content'>
					
					<li><a href="">editar</a></li>
					<li class="divider"></li>
					<li><a href="/profesor/destroy/<%= prf.id %>" method="POST">borrar</a></li>

				</ul>
			</div>
	</li>
	<% }) %>
	</ul>			
	</tbody>
</div>
		

	

</div>


